* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --backgroundColor: #0F1218;
  --textColor: #c9d1d9;
  --textDarkColor: #8b949e;
  --orange: #DA3733;
}
html,
body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
main {
  max-width: 75rem;
  margin: 0 auto;
}
h1 {
  font: inherit;
  font-size: 2em;
  font-weight: 600;
}
